* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 26.875rem;
    margin-inline: auto;

    font-family: 'Mulish', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 42.5rem;
    background-color: #F9F4FB;
}

#page-title {
    margin: 1rem 0 2rem 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #B52184;
    font-weight: 900;
}

p {
    font-size: 1rem;
    color: #312D64;
    font-weight: 600;
}

#page-title > p {
    font-size: 1.25rem;
}

main {
    min-height: 77.5rem;
    background: linear-gradient(135deg, rgb(52, 49, 147) 0%, rgba(48,44,99,1) 100%);
}

.container {
    margin: 3.125rem auto;

    width: 22rem;
    height: 21.125rem;

    background-color: #FFFFFF;
}