* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 26.875rem;
    margin-inline: auto;

    font-family: 'Mulish', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 42.5rem;
    background-color: #F9F4FB;
}

#header-info {
    margin: 1rem 0 0;
    text-align: center;
}

#header-info > p {
    margin-bottom: 2rem;
}

header > img {
    max-width: 22.75rem;
}

h1 {
    font-size: 2rem;
    color: #B52184;
    font-weight: 900;
}

p {
    font-size: 1rem;
    color: #312D64;
    font-weight: 600;
}

#page-title > p {
    font-size: 1.25rem;
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 3rem;

    min-height: 77.5rem;
    background: linear-gradient(135deg, rgb(52, 49, 147) 0%, rgba(48,44,99,1) 100%);
}

.container {
    width: 22rem;
    height: 21.125rem;

    background-color: #FFFFFF;

    border-radius: 1.25rem;
}

.container > img {
    padding: 1.625rem 0 1.5rem 1.625rem;
}

h3 {
    padding: 0 1.625rem .5rem 1.625rem;

    font-weight: 900;
    color: #B52184;
}

.container > p {
    padding: 0 1.625rem  1.625rem 1.625rem;
}

.contact {
    display: flex;
    flex-direction: column;

    align-items: center;

    min-height: 35.25rem;
    
    background-color: #F9F4FB;

    text-align: left;
}

.form-wrapper > h2 {
    font-size: 2rem;
    color: #B52184;
    font-weight: 900;

    padding: 4.875rem 0 2.625rem;
}

.form-wrapper {
    max-width: 21.875rem;
}

input {
    all: unset;

    font-weight: 600;
    color: #312D64;

    width: 17.625rem;
    height: 1.5rem;
    padding: 1rem 1rem 1rem 3.125rem;

    margin-bottom: 1.2rem;
    border-radius: 1rem;
    border: 1.5px solid #312D64;
}

.name-input {
    background-image: url(./assets/person.svg);
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 50%;
}

.email-input {
    background-image: url(./assets/email.svg);
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 50%;
}

textarea {
    all: unset;

    font-weight: 600;
    color: #312D64;

    width: 19.75rem;
    padding: 1rem;

    border-radius: 1rem;
    border: 1.5px solid #312D64;
}

button {
    all: unset;

    font-weight: 700;
    color: #FFFFFF;

    background: linear-gradient(135deg, rgb(52, 49, 147) 0%, rgba(48,44,99,1) 100%);

    margin-top: 1.5rem;
    padding: 0.625rem 1rem;

    border-radius: 1rem;
    border: 1.5px solid #312D64;


}

button:hover {
    background: #26234f;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 4.875rem;

    background: linear-gradient(135deg, rgb(52, 49, 147) 0%, rgba(48,44,99,1) 100%);
}

footer > p {
    font-weight: 600;
    color: #FFFFFF;

    font-size: 1rem;
}

@media (min-width: 768px) {
    body {
        max-width: 2560px;
    }

    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        align-items: flex-start;

        max-height: 45rem;
    }

    #header-info {
        display: flex;
        flex-direction: column;

        align-items: flex-start;

        margin: 18rem 6.75rem;
    }

    h1 {
        font-size: 3rem;
    }

    #header-info > p {
        margin-bottom: 8rem;

        font-size: 1.5rem;
    }

    #header-info > img {
        width: fit-content;
    }

    header > img {        
        display: flex;
        align-items: flex-start;

        max-width: 40rem;

        margin-right: 2rem;
    }

    main {
        display: flex;
        flex-direction: row;

        min-height: 36rem;
    }
}